<!--
DESCRITPION
-->


<launch>
        <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
		<param name="destination_frame" value="/base_link"/>
		<param name="cloud_destination_topic" value="/cloud"/>
		<param name="scan_destination_topic" value="/scan"/>
                <param name="laserscan_topics" value="/front_scan /rear_scan" /> 
	</node>
</launch>
